<style>
body {
    background-color: #eef2e2;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  img {
    height: 225px;
  }
  
  .country_row {
    margin: 1%;
    padding: 3% 0%;
  }
  
  .card {
    background-image: linear-gradient(to right, #85ffbd, #fffb7d);
  }
  .card-header {
    background-color: #f3f2c9;
    font-weight: bold;
    color: black;
  }
  
  .weather-data {
    text-align: center;
    margin: auto;
  }
  
  @media (max-width: 992px) {
    .container {
      padding-top: 10%;
      margin: auto;
    }
    .weather-data {
      text-align: center;
      margin: auto;
    }
  }
  
  .hidden {
    display: none;
  }
  </style>